{% extends 'template.html.twig' %}
{% block title %}&Agrave; propos - Bastien Moreau{% endblock %}
{% block content %}
    <section id="skills" class="skills section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Compétences</h2>
            </div>

            <div class="row skills-content">
                {% for type in types %}
                    <div class="col-lg-6">
                        <h3 class="resume-title">{{ type.type }}</h3>
                        {% for skill in skills %}
                            {% if skill.type == type.type %}
                                <div class="progress">
                                    <span class="skill">{{ skill.name }} <i class="val">{{ skill.progress }}%</i></span>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar" role="progressbar"
                                             aria-valuenow="{{ skill.progress }}" aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>Expériences</h2>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Formations</h3>
                    {% for formation in formations %}
                        <div class="resume-item">
                            <h4>{{ formation.name }}</h4>
                            <h5>{{ formation.startDate }} - {{ formation.endDate }}</h5>
                            <p><em>{{ formation.scool }} - {{ formation.place }}</em></p>
                            <p>{{ formation.description }}</p>
                        </div>
                    {% endfor %}
                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Expériences professionnelles</h3>
                    {% for job in jobs %}
                        <div class="resume-item">
                            <h4>{{ job.name }}</h4>
                            <h5>{{ job.startDate }} - {{ job.endDate }}</h5>
                            <p><em>{{ job.company }} - {{ job.place }}</em></p>
                            <ul>
                                {% set descs = job.description|split('/') %}
                                {% for desc in descs %}
                                    <li>{{ desc }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>

                <div class="row">
                    <h3 class="resume-title mx-auto my-2">Certifications</h3>
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <img src="../images/oc.png" alt="" style="width: 50%">
                        </div>
                        <div class="col-lg-6">
                            {% for certificate in certificates %}
                                <div class="resume-item">
                                    <p>{{ certificate.name }} - <span
                                                style="color: #065a7f">{{ certificate.date }}</span></p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block addjavascripts %}
    <script type="text/javascript">
        let skilsContent = select('.skills-content');
        if (skilsContent) {
            new Waypoint({
                element: skilsContent,
                offset: '80%',
                handler: function () {
                    let progress = select('.progress .progress-bar', true);
                    progress.forEach((el) => {
                        el.style.width = el.getAttribute('aria-valuenow') + '%'
                    });
                }
            })
        }
    </script>
{% endblock %}

