{% extends 'adminTemplate.html.twig' %}
{% block title %}Ajouter Job - Dashboard{% endblock %}
{% block content %}
    <h1>Ajouter un Emploi</h1>
    <form action="/admin/job/update/{{ job.id }}"  method="post">

        <div class="form-group">
            <input type="hidden" value="{{ session._sf2_attributes.token }}" id="formtoken" name="formtoken"/>
        </div>
        <div class="form-group">
            <label for="title">Poste</label><br/>
            <input type="text" id="name" name="name" value="{{ job.name }}" class="form-control" required/>
        </div>
        <div class="form-row">
            <div class="col">
                <label for="chapo">Entreprise</label><br/>
                <input type="text" id="company" name="company" value="{{ job.company }}" class="form-control" required/>
            </div>
            <div class="col">
                <label for="chapo">Lieu</label><br/>
                <input type="text" id="place" name="place" value="{{ job.place }}" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label><br/>
            <textarea id="description" name="description" rows="10" class="form-control" required>{{ job.description }}</textarea>
        </div>
        <div class="form-row">
            <div class="col">
                <label for="startDate">Date début</label><br/>
                <select class="form-control" id="startDate" name="startDate">
                    {% for date in dates %}
                        {% if date != job.startDate %}
                            <option>{{ date }}</option>
                        {% endif %}
                    {% endfor %}
                    <option selected>{{ job.startDate }}</option>
                </select>
            </div>
            <div class="col">
                <label for="startDate">Date fin</label><br/>
                <select class="form-control" id="endDate" name="endDate">
                    {% for date in dates %}
                        {% if date != job.endDate %}
                            <option>{{ date }}</option>
                        {% endif %}
                    {% endfor %}
                    {% if job.endDate != 'Présent' %}
                        <option>Présent</option>
                    {% endif %}
                    <option selected>{{ job.endDate }}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Modifier">
        </div>

    </form>
{% endblock %}